<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bigbang.io.helloandroid" >

    <!--
        ____ ___ ____ ____    _    _   _  ____   ____  ____  _  __
       | __ )_ _/ ___| __ )  / \  | \ | |/ ___| / ___||  _ \| |/ /
       |  _ \| | |  _|  _ \ / _ \ |  \| | |  _  \___ \| | | | ' /
       | |_) | | |_| | |_) / ___ \| |\  | |_| |  ___) | |_| | . \
       |____/___\____|____/_/   \_\_| \_|\____| |____/|____/|_|\_\

        Don't forget to add this permission to your project!
    -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
